
#abc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.abcd:hover {
    transition: transform 0.3s ease-in;
    transform: scale(1.05);
}

body {
    direction: rtl;
    cursor: all-scroll;
}

a {
    
    margin: 10px;
    padding: 1px;
    width: 235px;
    display: flex;
    font-size: 35px;
    font-display: swap;
    font-family: Arial;
    font-weight: 700;
    color: black;
    
    
}

#top {
    position: fixed;
    display: flex;
    background-color: white;
    background-color: darksalmon;
    border-radius: 10px;
}
img {
    margin: 10px;
    width: 250px;
    padding: 1px;
    position: static;
    outline: ridge;
}
#vans {
    width: 150px;
    height: 70px;
}



@media(max-width:800px) {
    #top {
        width: 600px;
        display: flex;
        justify-content: center;
        background-color: darksalmon;
    }

    a {
        font-size: 15px;
    }

    #vans {
        width: 50px;
        height: 60px;
        margin-top: 6px;
        margin-left: 70px;
    }
}

@media(max-width:600px) {
    #top {
        width: 600px;
        display: flex;
        justify-content: center;
        background-color: darksalmon;
    }

    a {
        font-size: 15px;
    }

    #vans {
        width: 20px;
        height: 49px;
        margin-top: 6px;
        margin-left: 70px;
    }
}
.abcd{
    justify-content:space-evenly;
}